@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, Fira Sans, Droid Sans,
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}